BODY {
    margin: 0;
    padding: 0;
    background: #F1E7D3 url("/_lib/bg.png") top center no-repeat;
    color: #00004A;
}
#body {
    width: 400px;
    margin: 40px auto;
}
#top P {
    font: 18pt/24pt Georgia, serif;
    margin: 1em 0;
    padding: 0;
}
#top SPAN {
    color: #AAA18E;
}
#top OL {
    font: normal 24pt/32pt Arial, sans-serif;
    margin: 0 1em;
    padding: 0;
    color: #26614F;
}
#top LI {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
}
#nav TD {
    text-align: center;
    border: 1px solid #AAA18E;
    border-style: solid none;
    height: 19px;
}
#nav A {
    text-decoration: none;
    color: #AAA18E;
    font: normal 12px/12px Arial, sans-serif;
    padding: 4px;
}
#nav A.current {
    background: #AAA18E;
    color: #F1E7D3;
}
#nav A:hover {
    color: #26614F;
}
#content {
    font: normal 12pt/14pt Georgia, serif;
}
#content H2 {
    font: normal 18pt/24pt Georgia, serif;
    color: #AAA18E;
}
#content P {
    text-indent: 1em;
    text-align: justify;
}
BLOCKQUOTE {
    font-style: italic;
    margin: 0 1em;
    padding: 0;
    text-indent: 0;
    text-align: justify;
}
BLOCKQUOTE .citation {
    font-style: normal;
    font-weight: bold;
    display: block;
    float: right;
    font-size: smaller;
}
.clear {
    clear: both;
    height: 0;
}
.sig {
    padding-left: 260px;
    font-style: italic;
}



#gospel {
    
}
#gospels .verse {
    display: none;
}

